charmhelpers
jinja2
kubernetes
ops
python-keystoneclient
git+https://github.com/openstack/charm-ops-interface-ceph-client#egg=interface_ceph_client
lightkube
lightkube-models

# included for interfacing with traefik
serialized-data-interface>=0.4.0
