Listen {{ wsgi_config.public_port }}

<VirtualHost *:{{ wsgi_config.public_port }}>
    WSGIDaemonProcess {{ wsgi_config.group }} processes=3 threads=1 user={{ wsgi_config.user }} group={{ wsgi_config.group }} \
                      display-name=%{GROUP}
    WSGIProcessGroup {{ wsgi_config.group }}
    {% if ingress_public.ingress_path -%}
    WSGIScriptAlias {{ ingress_public.ingress_path }} {{ wsgi_config.wsgi_public_script }}
    {% endif -%}
    WSGIScriptAlias / {{ wsgi_config.wsgi_public_script }}
    WSGIApplicationGroup %{GLOBAL}
    WSGIPassAuthorization On
    <IfVersion >= 2.4>
      ErrorLogFormat "%{cu}t %M"
    </IfVersion>
    ErrorLog {{ wsgi_config.error_log }}
    CustomLog {{ wsgi_config.custom_log }} combined

    <Directory /usr/bin>
        <IfVersion >= 2.4>
            Require all granted
        </IfVersion>
        <IfVersion < 2.4>
            Order allow,deny
            Allow from all
        </IfVersion>
    </Directory>
</VirtualHost>
